# Data Wrangling  (Data exploration)

- Data Wrangling is the process of cleaning, transforming  and structuring raw data into a usuable format , used for analysis and modeling  

- 1 - data cleaning 
- 2 - data transforming 
- 3 - data structuring

# Why do we need to wrangle our data?
- Real-world data is very messy, inconsistent and incomplete
- more then 70% of the time in DS is actually spent on preparing the data
- Good wrangled dataset makes your models or insights accurate

# step 1- Data cleaning

#### Identify Isssues in our dataset before Wrangling 

- 1 - Missing values
- 2 - duplicates datasets
- 3 - Categorial data & numeric data

##### step 1a - Missing Values

In [9]:
#import pandas 
import pandas as pd 


#identify missing values 
df = pd.read_csv("C:/Users/Muham/Downloads/AMDARI/Princess_j_Mentorship/patients.csv")
df.isnull().sum()

patient_id            0
age                   0
gender                0
bmi                   0
smoker                0
chronic_cond       3075
injury_type           0
signup_date           0
referral_source       0
consent               0
clinic_id             0
insurance_type        0
dtype: int64

In [10]:
missing_values_percentage = df.isnull().mean() * 100
print(missing_values_percentage)

patient_id          0.00000
age                 0.00000
gender              0.00000
bmi                 0.00000
smoker              0.00000
chronic_cond       61.41402
injury_type         0.00000
signup_date         0.00000
referral_source     0.00000
consent             0.00000
clinic_id           0.00000
insurance_type      0.00000
dtype: float64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5007 entries, 0 to 5006
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_id       5007 non-null   int64
 1   age              5007 non-null   int64
 2   gender           5007 non-null   object
 3   bmi              5007 non-null   float64
 4   smoker           5007 non-null   bool
 5   chronic_cond     1932 non-null   object
 6   injury_type      5007 non-null   object
 7   signup_date      5007 non-null   object
 8   referral_source  5007 non-null   object
 9   consent          5007 non-null   bool
 10  clinic_id        5007 non-null   int64
 11  insurance_type   5007 non-null   object
dtypes: bool(2), float64(1), int64(3), object(6)
memory usage: 401.1+ KB

In [4]:
# Remove the rows with missing values (for all dataset)

# variation 1
df_clean = df.dropna()

In [ ]:
#check

df_clean.head()
df_clean.isnull().sum()

patient_id         0
age                0
gender             0
bmi                0
smoker             0
chronic_cond       0
injury_type        0
signup_date        0
referral_source    0
consent            0
clinic_id          0
insurance_type     0
dtype: int64

In [ ]:
# remove rows only if its in a specific  (chronic_cond)
# variation 2
df_clean = df.dropna(subset=['chronic_cond'])

In [11]:
df_clean.isnull().sum()

patient_id         0
age                0
gender             0
bmi                0
smoker             0
chronic_cond       0
injury_type        0
signup_date        0
referral_source    0
consent            0
clinic_id          0
insurance_type     0
dtype: int64

In [5]:
# filling in missing values 
# chronic_cond 
df['chronic_cond'] = df['chronic_cond'].fillna(df['chronic_cond'].mode()[0])

In [7]:
df['chronic_cond']

0           Diabetes
1           Diabetes
2           Diabetes
3           Diabetes
4           Diabetes
            ...
5002        Diabetes
5003        Diabetes
5004        Diabetes
5005        Diabetes
5006    Hypertension
Name: chronic_cond, Length: 5007, dtype: object

In [8]:
df.isnull().sum()

patient_id         0
age                0
gender             0
bmi                0
smoker             0
chronic_cond       0
injury_type        0
signup_date        0
referral_source    0
consent            0
clinic_id          0
insurance_type     0
dtype: int64

# Interview Questions I

- 1 - how do you identify missing values in pandas
- 2 - whats are the strategies to handle missing values
- 3 - when would you choose to drop vs impute missing data


# Answers 

- 1 - i first use isnull().sum() to have a summary of the missing values
- 2 - if we have <=40% of the misisng values --- we can safely drop the missing values 
  - if the we have >=40% of the missing values --- we imput the missng point with mean, median or mode
  - if the columns has numeric values --- we use the mean or the median 
  - if the columns has categorical values (non-numeric values) - we impute with the mode (frequency of the data points)

#### step 1b - duplicates Values

In [15]:
# Identify these duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5002     True
5003     True
5004     True
5005     True
5006     True
Length: 5007, dtype: bool

In [13]:
# Remove these duplciates 
df_clean_dup = df.drop_duplicates()

In [14]:
df_clean_dup.duplicated().sum()

np.int64(0)

# Interview Questions II

- 1- how do you remove duplicates from your rows in pandas 
- 2 - Whats the difference between duplicated() and drop_duplicated()

# Answers 

- 1 - to remove deuplicates you first need to identify the duplicates by using 
    - duplicated() --- method
    - drop_duplicated() --- method

- 2 - duplicated() actually return a boolean output indicating wheather a rows is suplicate or not (true or false)
    - drop_duplicated() actually removes all duplicates from the dataframe

#### step 1c : Filtering & Selecting Data

- why you need to filter and select data sometimes 
 - often need to focus on  specifc part or subset of your data

In [17]:
df.head(3)

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type
0,1,29,Male,23.9,False,NaN,Knee,12:44.3,Insurance,True,6,Public
1,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public
2,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public

In [ ]:
#filter rows with a single conditions

df[ df['age'] > 60 ]

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type
1,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public
2,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public
5,6,83,Male,21.3,False,NaN,Back,12:44.3,GP,True,4,Private-Premium
7,8,77,Female,29.5,True,Hypertension,Back,12:44.3,GP,True,5,Public
8,9,63,Female,26.1,False,NaN,Shoulder,12:44.3,Self-Referral,True,2,Private-Basic
...,...,...,...,...,...,...,...,...,...,...,...,...
4996,4997,79,Female,20.7,False,NaN,Shoulder,12:44.3,Self-Referral,True,2,Private-Basic
4998,4999,84,Male,28.7,False,NaN,Knee,12:44.3,GP,True,3,Public
5001,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public
5002,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public
5005,6,83,Male,21.3,False,NaN,Back,12:44.3,GP,True,4,Private-Premium

In [22]:
# #filter rows with multiple conditions

df[(df['age'] > 40)   &     (df['bmi'] <=20) ]

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type
6,7,47,Female,19.4,False,Hypertension,Neck,12:44.3,GP,True,5,Public
10,11,68,Female,18.1,False,NaN,Back,12:44.3,GP,True,5,Private-Top-Up
29,30,49,Male,19.0,False,NaN,Knee,12:44.3,Self-Referral,True,4,Private-Premium
32,33,49,Female,19.5,False,NaN,Shoulder,12:44.3,Hospital,True,3,Public
58,59,60,Male,19.0,False,NaN,Back,12:44.3,GP,True,5,Public
...,...,...,...,...,...,...,...,...,...,...,...,...
4924,4925,81,Male,19.1,False,NaN,Neck,12:44.3,GP,True,4,Private-Premium
4951,4952,52,Female,19.2,False,NaN,Back,12:44.3,GP,True,4,Private-Premium
4978,4979,70,Female,17.1,False,NaN,Back,12:44.3,GP,True,7,Public
4979,4980,61,Male,18.8,False,NaN,Back,12:44.3,Self-Referral,True,1,Public
5006,7,47,Female,19.4,False,Hypertension,Neck,12:44.3,GP,True,5,Public

In [ ]:
# Selecting a single columns 
df['gender']

0         Male
1       Female
2         Male
3       Female
4       Female
         ...
5002      Male
5003    Female
5004    Female
5005      Male
5006    Female
Name: gender, Length: 5007, dtype: object

In [24]:
# Selecting multiple columns

df[ ['gender', 'age' ]]

      gender  age
0       Male   29
1     Female   68
2       Male   64
3     Female   41
4     Female   22
...      ...  ...
5002    Male   64
5003  Female   41
5004  Female   22
5005    Male   83
5006  Female   47

[5007 rows x 2 columns]

# indexing of the data 

- iloc - position based selection 
- loc - label - based selection

In [28]:
df.loc[10, 'referral_source']

'GP'

In [30]:
df.head(11)

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type
0,1,29,Male,23.9,False,NaN,Knee,12:44.3,Insurance,True,6,Public
1,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public
2,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public
3,4,41,Female,26.1,False,NaN,Back,12:44.3,GP,True,2,Private-Premium
4,5,22,Female,21.3,False,NaN,Shoulder,12:44.3,Insurance,True,4,Private-Basic
5,6,83,Male,21.3,False,NaN,Back,12:44.3,GP,True,4,Private-Premium
6,7,47,Female,19.4,False,Hypertension,Neck,12:44.3,GP,True,5,Public
7,8,77,Female,29.5,True,Hypertension,Back,12:44.3,GP,True,5,Public
8,9,63,Female,26.1,False,NaN,Shoulder,12:44.3,Self-Referral,True,2,Private-Basic
9,10,70,Female,27.3,False,NaN,Back,12:44.3,GP,True,1,Private-Top-Up
10,11,68,Female,18.1,False,NaN,Back,12:44.3,GP,True,5,Private-Top-Up

In [ ]:
df.iloc[10,7]

'12:44.3'

#### INTERVIEWS QUESTIONS

1 - what is the different between loc and iloc
2 - how do you filter rows based on muiltple condition


### ANSWERS 
- loc uses label (name), iloc uses integer to check for position

## Step 2 - Transforming Data

In [ ]:
# create new column(straight forward)

df['bmi_percentage'] = df['bmi'] * 100

In [40]:
df.head()

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type,bmi_percentage
0,1,29,Male,23.9,False,NaN,Knee,12:44.3,Insurance,True,6,Public,2390.0
1,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public,3170.0
2,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public,2750.0
3,4,41,Female,26.1,False,NaN,Back,12:44.3,GP,True,2,Private-Premium,2610.0
4,5,22,Female,21.3,False,NaN,Shoulder,12:44.3,Insurance,True,4,Private-Basic,2130.0

In [41]:
# create new column ( you want to apply conditions to the new column)

df['age_range'] = df['age'].apply(lambda x: "young" if x <=30 else "old")

In [42]:
df.head(3)

,patient_id,age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type,bmi_percentage,age_range
0,1,29,Male,23.9,False,NaN,Knee,12:44.3,Insurance,True,6,Public,2390.0,young
1,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public,3170.0,old
2,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public,2750.0,old

In [43]:
#Renaming columns 
df.rename(columns={"age" : "Maturity_age"}, inplace=True)

In [44]:
df.head()

,patient_id,Maturity_age,gender,bmi,smoker,chronic_cond,injury_type,signup_date,referral_source,consent,clinic_id,insurance_type,bmi_percentage,age_range
0,1,29,Male,23.9,False,NaN,Knee,12:44.3,Insurance,True,6,Public,2390.0,young
1,2,68,Female,31.7,True,NaN,Shoulder,12:44.3,Insurance,False,3,Public,3170.0,old
2,3,64,Male,27.5,False,NaN,Hip,12:44.3,GP,True,5,Public,2750.0,old
3,4,41,Female,26.1,False,NaN,Back,12:44.3,GP,True,2,Private-Premium,2610.0,old
4,5,22,Female,21.3,False,NaN,Shoulder,12:44.3,Insurance,True,4,Private-Basic,2130.0,young

### INTERVIEW QUESTION

1- How do you create a new column based on existing data
2 - what does apply() do in pandas

#### Answers 
1 - can create them using two method
 - creating a columne directly by defining a new column name (e.g df['salaryAge'])
 - OR creating a column by applying a condition using the .apply()/lambda function method in pandas

2 - what does apply() do in pandas 
  lets you apply a lambda function with condition to each elements in the dataset